@model Instructor
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h2>Instructor</h2>

<form asp-controller="instructor" asp-action="edit" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Emai" class="form-label"></label>
        <input asp-for="Emai" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="dept_id" class="form-label"></label>
        <select class="form-select" asp-for="dept_id" asp-items="ViewBag.departments">
            <option selected>Open this select menu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>