
@{
    ViewData["Title"] = "Index";
}

<h1>Transfer Data From controller(Action) to view</h1>



<a href="/SameRequest/ViewDataAction?name=ali&age=30">Using ViewData</a>

<a href="/SameRequest/ViewBagAction?name=Mona&age=20">Using ViewBag</a>

<a href="/SameRequest/ModelAction?name=Ola&age=25">Using Model</a>

<a href="/SameRequest/ViewModelAction?name=Ola&age=25">Using View Model</a>